"# Django .gitignore" 
"__pycache__/" 
"*.py[cod]" 
"*.pyo" 
"*.pyd" 
"*.env" 
"*.log" 
"local_settings.py" 
"db.sqlite3" 
"venv/" 
".venv/" 
"ENV/" 
"env.bak/" 
"venv.bak/" 
".vscode/" 
"*.swp" 
"*.swo" 
